<div class="container">
        
        <div class ="row">
                <div class="col-md-2"> </div>
                <div class ="col-md-8"><h2> I'm in the AppComponent </h2>  </div>
                <div class="col-md-2"> </div>
        </div>
         <div class ="row">
                <div class="col-md-2"></div>
                <div class="col-md-8"> <app-servers></app-servers>
                                        
                </div>
                <div class="col-md-2"></div>
                       
         </div>

         <div class ="UserName">
                 <app-username></app-username>

         </div>
         <div class="col-md-offset-2"><assignment-detail></assignment-detail></div>
</div>